@import './mixins';
@import './components';
@import './pages';

/**
* fs - first-screen
* rp - right-panel
*/
:root {
  --rp-width: 0;
  --btn-height: 45px;
  --fs-padding-l: 15px;
  --header-z-index: 100;
  --mobile-header-height: 60px;
  @media (min-width: 381px) {
    --mobile-header-height: 70px;
  }
  @media (min-width: 768px) {
    --rp-width: 85px;
    --btn-height: 55px;
    --fs-padding-l: 48px;
  }
}

.rp-padding {
  padding-right: var(--rp-width);
}

.container {
  @media (min-width: 1610px) {
    min-width: 1590px;
  }
}

.height90 {height: 90px}
.height80 {height: 80px}
.height70 {height: 70px}
.height60 {height: 60px}
.height50 {height: 50px}
.height40 {height: 40px}
.height30 {height: 30px}
.height20 {height: 20px}
.height10 {height: 10px}

.bgimage-right {
  @media (min-width: 768px) {
    min-height: 715px;
    background: no-repeat right top;
  }
  @media (max-width: 1609px) and (min-width: 768px) {
    background-size: 50%;
  }
  @media (max-width: 767px) {
    background-image: none!important;
  }
}

.bgimage {
  height: 300px;
  background: no-repeat center/cover;
  @media (min-width: 768px) {
    height: 650px;
  }
}

.bg0089CF {background-color: #0089CF;}
.bg066B9E {background-color: #066B9E;}
.bg085C87 {background-color: #085C87;}

body {
  background-color: #0089CF;
  font-family: 'Intro', sans-serif;
  @media (max-width: 767px) {
    overflow-x: hidden;
  }
}

a {
  transition: color .15s ease-in-out;
}

a:hover {
  color: #ffa788;
}

[data-modalhandler] {
  user-select: none; cursor: pointer;
}

.btn {
  user-select: none;
  &-orange {
    border-radius: 0; background-color: #F15A26;
    width: fit-content; height: var(--btn-height);
    display: flex; justify-content: center; align-items: center;
    color: #fff; font-size: rem(16px); font-weight: 500; line-height: 1;
    &:hover {
      color: #fff;
      background-color: #ffa788;
    }
    @media (min-width: 768px) {
      height: var(--btn-height); min-width: 250px;
    }
  }
}

.special-banner {
  padding: 0;
  .fancybox-close-small {
    opacity: 0;
    width: 4.8%;
    height: 9.3%;
  }
  &__btn {
    background-color: #0089CF;
    outline: none;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    position: absolute;
    right: 3.7%;
    bottom: 4.2%;
    opacity: 0;
    font-size: 0;
    width: 25.5%;
    height: 8.2%;
  }
  &__image {
    width: 100%;
    max-width: 1200px;
  }
}

.text {
  box-sizing: content-box;
  line-height: 1.2; font-size: rem(18px); color: #fff;
  @media (min-width: 768px) {
    max-width: 550px;
    padding-right: 160px;
  }
  @media (min-width: 1200px) {
    max-width: 650px;
  }
  a {
    color: #fff;
  }
}

.form-result {
  text-align: center;
  &__title {
    margin-bottom: 5px;
    font-weight: bold; font-size: rem(21px); text-align: center;
  }
}

.header-mobile-fix {
  @media (max-width: 767px) {
    height: var(--mobile-header-height);
  }
}
.header {
  @media (max-width: 767px) {
    background-color: #0089CF;
    position: fixed; left: 0; top: 0;
    z-index: calc(var(--header-z-index) + 2);
    display: flex; justify-content: space-between;
    width: 100%; height: var(--mobile-header-height);
  }
  &__right {
    @media (max-width: 767px) {
      display: flex;
    }
  }
  &::before {
    @media (min-width: 768px) {
      content: '';
      width: 100%; height: 150px;
      position: fixed; left: 0; top: 0;
      z-index: calc(var(--header-z-index) - 2);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    }
  }
  &::after {
    content: '';
    width: 100%; height: 90px;
    position: fixed; left: 0; bottom: 0;
    z-index: calc(var(--header-z-index) - 4);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    @media (min-width: 768px) {
      height: 150px;
    }
  }
  &__logo {
    @media (min-width: 768px) {
      z-index: var(--header-z-index);
      position: fixed; top: 0; left: 0;
      padding: 2.94vw 8.1vw 3.90vw var(--fs-padding-l); //56px 156px 74px var(--fs-padding-l);
      //background: url('../images/background/arc-blue.svg') no-repeat right bottom/665px 277px;
      background: url("../images/background/arc-blue.svg") no-repeat right bottom/34.5vw 14.5vw;
    }
    @media (max-width: 767px) {
      padding: 15px;
      display: flex; justify-content: space-between;
    }
    @media (max-width: 767px) and (min-width: 381px) {
      width: 252px;
    }
    @media (max-width: 380px) {
      width: 220px;
    }
    svg {
      fill: #F15A26;
      @media (min-width: 768px) {
        width: 17.6045vw; height: 2.761vw; //width: 338px; height: 53px;
      }
    }
    &--no-fixed {
      @media (min-width: 768px) {
        position: absolute;
      }
    }
  }
  &__select-flat {
    width: 25px; height: auto;
    z-index: var(--header-z-index);
    color: #fff; user-select: none;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    @media (max-width: 767px) {
      padding-right: 15px; box-sizing: content-box;
    }
    @media (min-width: 768px) {
      background-color: #F15A26;
      animation: pulse 1.5s infinite;
      border-radius: 150px; border: 10px solid #0089CF;
      width: 124px; height: 124px; box-sizing: content-box;
      position: fixed; right: calc(var(--rp-width) + 20px); bottom: 65px;
      @keyframes pulse {
        0% {
          box-shadow: 0 0 0 0 rgba(0, 137, 207, .8);
        }
        70% {
          box-shadow: 0 0 0 30px rgba(0, 137, 207, 0);
        }
        100% {
          box-shadow: 0 0 0 0 rgba(0, 137, 207, 0);
        }
      }
    }
    &:hover {
      color: #fff;
      text-decoration: none;
    }
    &__text {
      @media (min-width: 768px) {
        font-weight: 800; font-size: rem(14px); font-family: 'TT Firs', sans-serif;
        text-transform: uppercase; letter-spacing: .055em; line-height: 1.2; text-align: center;
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
    svg {
      fill: #fff;
      width: 100%; height: 100%;
      @media (min-width: 768px) {
        margin-top: 15px;
        width: 33px; height: 18px;
      }
      @media (max-width: 767px) {
        transform: scaleX(-1);
      }
    }
  }
  &__right-panel {
    background-color: #0089CF;
    z-index: var(--header-z-index);
    display: flex; align-items: center; justify-content: space-between;
    @media (min-width: 768px) {
      padding-bottom: 20px;
      flex-direction: column;
      position: fixed; right: 0; top: 0;
      width: var(--rp-width); height: 100%;
    }
    &__scroll {
      fill: #fff;
      width: 14px; height: 69px;
    }
    &__bottom {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  &__hamburger {
    width: 100%;
    line-height: 1;
    cursor: pointer; user-select: none;
    @media (min-width: 768px) {
      padding-top: 27px;
      color: #fff; font-size: rem(14px);
      display: flex; flex-direction: column; align-items: center; justify-content: center;
    }
    @media (max-width: 767px) {
      font-size: 0;
      padding: 15px;
    }
    svg {
      fill: #fff;
      width: 32px; height: 25px;
      @media (min-width: 768px) {
        margin-bottom: 10px;
      }
    }
  }
  &__top-right {
    text-align: right;
    @media (max-width: 767px) {
      display: flex; align-items: center;
    }
    @media (min-width: 768px) {
      z-index: var(--header-z-index);
      position: fixed; right: calc(var(--rp-width) + 35px); top: 20px;
    }
  }
  &__phone {
    color: #fff; text-decoration: none;
    font-family: 'TTFirs', sans-serif; font-size: 1.83vw/*rem(35px)*/; font-weight: 900; line-height: 1;
    @media(min-width: 768px) {
      margin-bottom: 8px;
    }
    @media (max-width: 767px) {
      width: 26px;
      font-size: 0; display: block;
    }
    svg {
      @media(min-width: 768px) {
        display: none;
      }
      @media (max-width: 767px) {
        fill: #fff;
        width: 100%; height: 100%;
      }
    }
  }
  &__callme {
    @media(min-width: 768px) {
      font-size: .875rem;
      padding: 10px 40px;
      margin-left: auto; margin-top: 10px;
      height: auto; width: fit-content; min-width: auto;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
}
.compensate-for-scrollbar {
  .header {
    &__top-right {
      @media (min-width: 768px) {
        right: calc(var(--rp-width) + 35px + 17px);
      }
    }
    &__select-flat {
      right: calc(var(--rp-width) + 20px + 17px);
    }
    &__right-panel {
      right: 17px;
    }
  }
}

.menu-shadow {
  opacity: 0; visibility: hidden;
  position: fixed; top: 0; left: 0;
  width: 100%; height: 100%; z-index: 999;
  background-color: rgba(6, 107, 158, .6);
  transition: visibility .15s ease-in-out;
}

/*.fancybox-bg {
  background-color: #066B9E;
}
.fancybox-is-open .fancybox-bg {
  opacity: .6;
}*/

.hidden-menu {
  user-select: none;
  display: flex; align-items: center;
  background-color: #0089CF; padding: 50px 50px 200px;
  @media (min-width: 576px) {
    padding: 50px 30px 100px;
  }
  &__close {
    box-sizing: content-box;
    cursor: pointer; user-select: none;
    width: 55px; padding: 27px 16px 0 0;
    position: absolute; right: 0; top: 0;
    color: #fff; line-height: 1; font-size: rem(14px);
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    svg {
      fill: #fff;
      margin-bottom: 10px;
      width: 26px; height: 26px;
    }
  }
}

.nav {
  display: flex; flex-direction: column;
  &__link {
    color: #fff; line-height: 1; letter-spacing: .02em; text-decoration: none;
    font-style: normal; font-weight: bold; font-size: rem(21px); font-family: 'TT Firs', sans-serif;
    @media (min-width: 576px) {
      font-size: rem(26px);
    }
    & + & {
      margin-top: 25px;
    }
  }
}

.index-prescription {
  padding-left: var(--fs-padding-l);
  z-index: var(--header-z-index); user-select: none;
  line-height: 1; color: #fff; font-size: rem(14px);
  position: absolute; right: calc(var(--rp-width) + 20px); bottom: 7px;
  @media (max-width: 1199px) {
    font-size: rem(12px);
  }
  a {
    color: #fff;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.footer {
  position: relative;
  background-color: #F15A26;
  padding: 50px 0;
  z-index: calc(var(--header-z-index));
  &__left {
    padding-right: 15px;
  }
  &__wrapper {
    padding-right: var(--rp-width);
    @media (min-width: 768px) {
      display: flex; justify-content: space-between;
    }
  }
  &__logo {
    display: block;
    margin-bottom: 24px;
    svg {
      fill: #0089CF;
      width: 295px; height: 50px;
      @media (min-width: 1400px) {
        width: 338px; height: 53px;
      }
    }
  }
  &__desc {
    color: rgba(255, 255, 255, .8);
    font-size: 14px; line-height: 1.3;
    a {
      color: rgba(255, 255, 255, .8);
    }
  }
  &__right {
    @media (min-width: 768px) {
      text-align: right;
    }
    @media (max-width: 767px) {
      margin-top: 20px;
    }
  }
  &__socs {
    display: flex;
    @media (min-width: 768px) {
      justify-content: flex-end;
    }
    &__item {
      display: flex;
      align-items: center;
      border-radius: 40px;
      background-color: #fff;
      justify-content: center;
      width: 40px; height: 40px;
      & + & {
        margin-left: 10px;
      }
      svg {
        fill: #F15A26;
        max-width: 20px;
        max-height: 17px;
      }
    }
  }
  &__phone {
    white-space: nowrap;
    display: block; margin-bottom: 5px;
    line-height: 1; text-decoration: none; color: #fff;
    font-weight: 900; font-family: 'TTFirs', sans-serif; font-size: rem(24px);
    @media (min-width: 1400px) {
      font-size: rem(35px);
    }
  }
  &__callme {
    color: #fff; font-size: rem(20px);
    margin-bottom: 20px; width: fit-content;
    text-decoration: underline; line-height: 1;
    @media (min-width: 768px) {
      margin-left: auto; margin-bottom: 40px;
    }
  }
  &__center {
    display: none;
    @media (min-width: 1200px) {
      width: 500px;
      display: flex;
      padding-right: 15px;
      justify-content: space-between;
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
  }
  &__link {
    color: #fff;
    line-height: 1.2;
    font-size: rem(20px);
    text-decoration: none;
    & + & {
      margin-top: 18px;
    }
  }
}

