@font-face {
  font-family: 'Intro';
  src: url('fonts/Intro-Regular.woff2') format('woff2'),
  url('fonts/Intro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs';
  src: local('TT Firs ExtraBold'), local('TTFirs-ExtraBold'),
  url('fonts/TTFirs-ExtraBold.woff2') format('woff2'),
  url('fonts/TTFirs-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs';
  src: local('TT Firs Bold'), local('TTFirs-Bold'),
  url('fonts/TTFirs-Bold.woff2') format('woff2'),
  url('fonts/TTFirs-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

