$root-font-size: 16px;

html {
  font-size: ($root-font-size / 16px) * 100%;
}

@function rem($size) {
  @return $size / $root-font-size * 1rem;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}