-var cmsTpl = '/'
-var version = '3.1.0'

mixin svg(id,cls)
  -var cls = cls ? ' ' + cls : ''
  svg(class='icon icon-' + id + cls width="100%" height="100%" xmlns="http://www.w3.org/2000/svg")
    use(xlink:href=cmsTpl + 'images/svg/sprite.svg#' + id)

block vars
  -var logoClass = ''

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,shrink-to-fit=no,height=device-height,viewport-fit=cover')
    title Городской квартал «Некрасовский»
    base(href='/')
    meta(name='description', content="Расположен в одном из самых зеленых районов Уфы по улице Софьи Перовской. Из окон домов так приятно любоваться бескрайними просторами заречья, меняющими свои краски в зависимости от времени года, или вдохновляться живописными рассветами и закатами.")
    meta(name='keywords', content="")
    meta(property='og:title', content="")
    meta(property="og:description" content="")
    meta(property='og:type', content='website')
    meta(property='og:url', content="")
    meta(property='og:image', content=cmsTpl + 'assets/images/logo.png')
    meta(name='theme-color' content="#fff")
    link(rel='stylesheet' href=cmsTpl + 'css/vendor.min.css?v=' + version)
    link(rel='stylesheet' href=cmsTpl + 'css/common.min.css?v=' + version)
    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
  body
    .header-mobile-fix
    header.header
      a.header__logo(class=logoClass href="/"): +svg('logo','')
      .header__right
        block select_flat
          a.header__select-flat(href="/select.html")
            .header__select-flat__text подобрать квартиру
            +svg('key')
        .header__top-right
          a.header__phone(href="tel:+7(347)246-09-10") +7 (347) 246-09-10
            +svg('phone')
          .header__callme.btn.btn-orange(data-modalhandler="callme") заказать звонок
        .header__right-panel
          .header__hamburger
            +svg('hamburger')
            | меню
          .header__right-panel__bottom
            block right-panel
            +svg('rp-scroll','header__right-panel__scroll')

    main: block main

    block footer
      footer.footer: .container: .footer__wrapper
        .footer__left
          a.footer__logo(href="/"): +svg('logo')
          .footer__desc Застройщик ООО «Специализированный<br> застройщик «Некрасовский»
            | <br> Проектная декларация на сайте <a href="https://xn--80aiybh2d.xn--p1ai/%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B8/%D1%80%D0%B5%D1%81%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D0%B0-%D0%B1%D0%B0%D1%88%D0%BA%D0%BE%D1%80%D1%82%D0%BE%D1%81%D1%82%D0%B0%D0%BD/%D0%B6%D0%B8%D0%BB%D0%BE%D0%B9-%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81-%22%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%BE%D0%B9-%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%B0%D0%BB-%22%D0%BD%D0%B5%D0%BA%D1%80%D0%B0%D1%81%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9%22/" target="_blank">нашдом.рф</a> <br><br>
            a(href="javascript:void(0)" data-modalhandler="private-police") Политика конфиденциальности
        .footer__center
          .footer__menu
            -var hrefs =   ['about', 'plan', 'select']
            each item,i in ['О комплексе','О функциональных<br> планировках','Выбрать планировку']
              a.footer__link(href=hrefs[i]+'.html')!= item
          .footer__menu
            -var hrefs = ['gallery', 'commercion', 'news', 'contacts']
            each item,i in ['Галерея', 'Коммерция', 'Новости + акции', 'Контакты']
              if (hrefs[i] !== 'news')
                a.footer__link(href=hrefs[i]+'.html')!= item
        .footer__right
          a.footer__phone(href="tel:+7(347)246-09-10") +7 (347) 246-09-10
          .footer__callme(data-modalhandler="callme") заказать звонок
          .footer__socs
            //a.footer__socs__item(href="#!" target="_blank"): +svg('facebook')
            //a.footer__socs__item(href="#!" target="_blank"): +svg('vkontakte')
            //a.footer__socs__item(href="https://www.instagram.com/nekrasovsky.ufa/" target="_blank"): +svg('instagram')

    .hidden-menu
      .hidden-menu__close
        +svg('close')
        | закрыть
      nav.nav
        -var hrefs =   ['about', 'plan', 'select', 'gallery', 'commercion', 'news', 'docs', 'contacts']
        each link,i in ['О комплексе', 'О функциональных планировках', 'Выбрать планировку', 'Галерея', 'Коммерция', 'Новости', 'Документы', 'Контакты']
          if (hrefs[i] !== 'news')
            if hrefs[i] === 'docs'
              a.nav__link(target="_blank" href='https://xn--80aiybh2d.xn--p1ai/%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B8/%D1%80%D0%B5%D1%81%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D0%B0-%D0%B1%D0%B0%D1%88%D0%BA%D0%BE%D1%80%D1%82%D0%BE%D1%81%D1%82%D0%B0%D0%BD/%D0%B6%D0%B8%D0%BB%D0%BE%D0%B9-%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81-%22%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%BE%D0%B9-%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%B0%D0%BB-%22%D0%BD%D0%B5%D0%BA%D1%80%D0%B0%D1%81%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9%22/#documents')!= link
            else
              a.nav__link(href=hrefs[i]+'.html')!= link
    .menu-shadow


    block scripts
    script var cmsTpl = '#{cmsTpl}';
    script(src=cmsTpl + 'js/vendor.min.js?v=' + version)
    script(src=cmsTpl + 'js/common.min.js?v=' + version)