extends ../layouts/default
include ../components/first-screen
include ../components/title
include ../components/flat-mini
include ../components/icon-text-horizontal

block scripts
  script var pageName = 'about';

block main
  +first-screen(
      cmsTpl + "images/first-screen/fs-about-1.jpg",
      'О комплексе'
  )

  .bg066B9E.bgimage-right(style="background-image:url("+cmsTpl+"images/background/bgimage-1.png);"): .container: .rp-padding
    .height90
    +title('Вдохновляюще')
    .height50
    .text
      p «Некрасовский» расположен в одном из самых зеленых районов Уфы по улице Софьи Перовской. Из окон домов так приятно любоваться бескрайними просторами заречья, меняющими свои краски в зависимости от времени года, или вдохновляться живописными рассветами и закатами.
      p Поблизости с комплексом расположен прекрасный благоустроенный парк «Президент-отеля» открытый для всех желающих. Здесь в любую погоду можно прогуливаться всей семьей и наслаждаться шумом леса и свежим воздухом.
    .height60
    a.btn.btn-orange(href="/gallery.html") Рассмотреть комплекс
    .height60

  .rp-padding: .bgimage(style="background-image:url("+cmsTpl+"images/background/about-bg-image-1.jpg);")

  .about-map: .bg066B9E.h-100: .container: .rp-padding
    .height90
    .height70
    +title('Удобно',true)
    .height50
    .text.z-index-title-fix
      p Новый городской квартал «Некрасовский» расположен в 3 минутах езды от Монумента дружбы. Пеший путь до благоустроенной набережной займёт всего 15 минут, а до центра города на автомобиле – не более 10 минут.
      p Вокруг домов квартала большой многогранный мир: отдых, занятия спортом, школы и детские сады, шопинг, прогулки с детьми, медицинские учреждения – живи здесь и сейчас, все уже рядом!
    .height90
    .about-map__categories
      -var names = ['schools','shopping','beauty-and-sports','business','food-and-health','universities']
      each item,i in ['Образование','Шопинг','Красота и спорт','Бизнес','Еда и здоровье','Вузы']
        .about-map__category(data-name=names[i])= item
    #map.about-map__wrapper

  .bg0089CF.bgimage-right(style="background-image:url("+cmsTpl+"images/background/bgimage-2.png);"): .container: .rp-padding
    .height90
    +title('Комфортно',true)
    .height50
    .text.z-index-title-fix
      p «Некрасовский» представляет широкий модельный ряд квартир, чтобы у вас была возможность выбрать планировку, максимально соответствующую стилю жизни вашей семьи.
      p Абсолютно все квартиры «Некрасовского» функциональны. Здесь предусмотрены гардеробные и большое количество ниш для систем хранения, глубокие ниши на кухнях для организации кладовок, грязные зоны отделены от транзитных путей, во многих спроектированы 2 санузла.
      p Детально рассмотреть планировку, оценить количество необходимой мебели и ее расстановку, варианты расположения зон для разных семей легко сделать с помощью специально разработанных функциональных паспортов квартир.
    .height60
    .btn.btn-orange(data-modalhandler="get-catalog") Запросить каталог квартир
    .height60

  .bg066B9E: .container: .rp-padding
    .height90
    +title('Планировки-бестселлеры',true)
    .height90
    .height30
    .about-flats
      .about-flat: +flat-mini('Двухкомнатная<br> Вид на реку','69,87 м²','images/flats/flat-mini-6987.png','69.87','29')
      .about-flat: +flat-mini('Трёшка-смарт<br> Вид на реку','71,03 м²','images/flats/flat-mini-7103.png','71.03','29')
      .about-flat: +flat-mini('Однушка-смарт<br> Вид на реку','31,37 м²','images/flats/flat-mini-3137.png','31.37','27')
      .about-flat: +flat-mini('Двушка-смарт<br >Вид на реку','43,6 м²','images/flats/flat-mini-4360.png','43.60','27')
      .about-flat: +flat-mini('Двухкомнатная <br>Функциональная <br>планировка','51,38 м²','images/flats/flat-mini-5138.png','51.38','28')
    .height90

  .bg066B9E.bgimage-right(style="background-image:url(" + cmsTpl + "images/background/bgimage-3-1.png);"): .container: .rp-padding
    .height90
    +title('Оптимально',true)
    .height70
    .height30
    .text.z-index-title-fix: .row
      .col-md-6
        +icon-text-horizontal('bricks','Монолитный каркас<br> с заполнением<br> красным кирпичом')
        .height30
        +icon-text-horizontal('double-door','Входы в подъезды<br> на уровне земли')
        .height30
        +icon-text-horizontal('childrens-slide','Современные<br> детские площадки')
        .height30
        +icon-text-horizontal('drawing','Огромный модельный<br> ряд планировок')
        .height30
      .col-md-6
        +icon-text-horizontal('skyscrapers','Переменная<br> этажность')
        .height30
        +icon-text-horizontal('lock','Закрытая территория<br> комплекса')
        .height30
        +icon-text-horizontal('garage','Отдельно стоящий<br> 9-этажный паркинг')
    .height60