extends ../layouts/default
include ../components/title
include ../components/first-screen
include ../components/icon-text-horizontal

block main
  +first-screen(
      cmsTpl + "images/first-screen/commercion.jpg",
      'Коммерческая<br> недвижимость'
  )

  .bg066B9E.bgimage-right(style="background-image:url(" + cmsTpl + "images/background/commercion-bgimage-1.png);"): .container: .rp-padding
    .height90
    +title('Выгодно')
    .height50
    .text
      p Первые этажи «Некрасовского» занимает офисная и торгово-развлекательная инфраструктура. Помещения для супермаркета, магазины, аптеки, отделения банков, салоны красоты, кафе дополнят развитую инфраструктуру комплекса. Расположение вдоль улицы С. Перовской с отличной транспортной доступностью и большим автомобильным трафиком делают «Некрасовский» беспроигрышным вариантом для инвестирования.
    .height60
    .btn.btn-orange(data-modalhandler="get-commercion") Получить планировки
    .height60

  .rp-padding: .bgimage(style="background-image:url("+cmsTpl+"images/background/commercion-bg-image-1-1.jpg);")

  .bg066B9E: .container: .rp-padding
    .height70
    .row
      .col-md-6.col-lg-4.col-xl-3
        +icon-text-horizontal('route','Удобные<br> подъездные пути')
        .height30
      .col-md-6.col-lg-4.col-xl-3
        +icon-text-horizontal('parking','Большой паркинг<br> на красной линии')
        .height30
      .col-md-6.col-lg-4.col-xl-3
        +icon-text-horizontal('people-and-dog','Большой пешеходный<br> и автомобильный трафик')
        .height30
      .col-md-6.col-lg-4.col-xl-3
        +icon-text-horizontal('point-map','Расположение вдоль<br> улицы С. Перовской')
        .height30
      .col-md-6.col-lg-4.col-xl-3
        +icon-text-horizontal('100','Длина фасада<br> коммерческих помещений<br> более 100 метров')
        .height30
      .col-md-6.col-lg-4.col-xl-3
        +icon-text-horizontal('opened-doors','Входы только со<br> стороны улицы')
        .height30
      .col-md-6.col-lg-4.col-xl-3
        +icon-text-horizontal('computer-desk','Открытые<br> планировки')
        .height30
      .col-md-6.col-lg-4.col-xl-3
        +icon-text-horizontal('double-arrow','Высокие<br> потолки')
        .height30
    .height40