extends ../layouts/default
include ../components/title

block scripts
  script var pageName = 'contacts';

block main
  .contacts-map: .bg066B9E.h-100: .container: .rp-padding
    .height60.plan-hide-height-1
    .height90.plan-hide-height-2
    .height90.contacts-height
    +title('Контакты')
    .height40
    .text.contacts-text: .row
      .col-md-6
        .contacts-long-title Офис продаж
        .height30
        p г. Уфа, ул. Революционная, д. 34/1
        p Время работы пн-пт: с 09:00 до 17:00
        p перерыв 12:00-13:00
        p сб, вс: выходной
        p тел: <a href="tel:+7(347)246-09-10">+7 (347) 246-09-10</a>
        p e-mail: <a href="mailto:su10op@yandex.ru">su10op@yandex.ru</a>
      .col-md-6
        .contacts-long-title Центральный офис
        .height30
        p г. Уфа, ул. Шота Руставели, 9
        p Тел: <a href="tel:+7(347)292-73-84">+7(347) 292-73-84</a>
        p E-mail: <a href="mailto:su10bnzs@mail.ru">su10bnzs@mail.ru</a>
    .contacts-author: .contacts-author__text
    //-  | КУРАТОР ПРОЕКТА: <br>
    //-  | Сатаев Р.Р. <br>
    //-  | Тел.: +7 (917) 42-09-851<br>
    //-  | E-mail: 4011267@gmail.com
    #map.about-map__wrapper

block footer