extends ../layouts/default
include ../components/first-screen
block scripts
  script var pageName = 'index';

block right-panel
  .screen-pagination
block main
  .screen-swiper.swiper-container: .swiper-wrapper
    .swiper-slide: +first-screen(
      cmsTpl + "images/slider/slider-1.jpg",
      'Близкий',
      '10 минут до Монумента Дружбы',
      '/about.html'
    )
    .swiper-slide: +first-screen(
      cmsTpl + "images/first-screen/fs-about-1.jpg",
      'Функциональный',
      'Огромный выбор планировок',
      '/plan.html'
    )
  .index-prescription Застройщик ООО «Специализированный застройщик «Некрасовский»&nbsp;
    | Проектная декларация на сайте <a href="https://xn--80aiybh2d.xn--p1ai/%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B8/%D1%80%D0%B5%D1%81%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D0%B0-%D0%B1%D0%B0%D1%88%D0%BA%D0%BE%D1%80%D1%82%D0%BE%D1%81%D1%82%D0%B0%D0%BD/%D0%B6%D0%B8%D0%BB%D0%BE%D0%B9-%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81-%22%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%BE%D0%B9-%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%B0%D0%BB-%22%D0%BD%D0%B5%D0%BA%D1%80%D0%B0%D1%81%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9%22/" target="_blank">нашдом.рф</a>

block footer