extends ../layouts/default
include ../components/title

block scripts
  script var pageName = 'news';

block main
  .news-wrap: .bg066B9E: .container: .rp-padding
    .height60.plan-hide-height-1
    .height90.plan-hide-height-2
    .height90.contacts-height
    +title('Новости')
    .height40
    .news
    .height90