extends ../layouts/default
include ../components/title

block main
  .overflow-hidden
    .bg085C87.bgimage-right(style="background-image:url(" + cmsTpl + "images/background/plan-bgimage-1.jpg);"): .container: .rp-padding
      .height60.plan-hide-height-1
      .height90.plan-hide-height-2
      .height90
      +title('Функциональный <br>паспорт квартиры')
      .height50
      .text.z-index-title-fix
        p Подобрать квартиру именно для вашей семьи (с учетом ее величины и интересов) теперь стало намного проще. Для этого мы разработали большое количество разнообразных планировочных решений - в квартале «Некрасовский» более 100 планировок площадью от 15 до 150 кв.м.
        p А еще для каждой квартиры подготовили функциональный паспорт.
        p Функциональный паспорт квартиры – это наглядный документ, который дает возможность детально рассмотреть планировку, оценить количество необходимой мебели и ее расстановку, варианты эффективного расположения зон для разных семей.
        p Выбирайте то, что подходит именно вашей семье!
      .height90

    .rp-padding: .bg066B9E.section-group-1
      .height60
      .text-center: a.plan-group.z-index-title-fix(data-fancybox href=cmsTpl + "images/plan-group-1.png")
        img(alt src=cmsTpl + "images/plan-group-1.png")
      .height60

    .rp-padding: .bg085C87.section-group-2
      .height60
      .text-center: a.plan-group.z-index-title-fix(data-fancybox href=cmsTpl + "images/plan-group-2-1.png")
        img(alt src=cmsTpl + "images/plan-group-2.png")
      .height10
      //a.btn.btn-orange.m-auto(href="#!") Скачать пример
      //.height60