extends ../layouts/default
include ../components/title

block vars
    -var logoClass = 'header__logo--no-fixed'

block scripts
  script var pageName = 'select';

block select_flat

block main
  .first-screen
    .first-screen__arc
      .first-screen__title Подбор <br>квартир
    svg.select-facade(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1834 900" version="1.1" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")
      image(xlink:href="/images/background/select.png" width="100%" height="100%")

      // Секция А
      g.select-facade__house(data-name="А" data-name-eng="A" data-entrance="31")
        path.select-facade__fill(xmlns="http://www.w3.org/2000/svg" d="M 1120.21 131.42 C 1123.23 131.28 1126.36 131.33 1129.01 133.00 C 1130.99 132.45 1133.03 131.47 1135.12 132.23 C 1150.37 136.06 1165.62 139.93 1180.88 143.73 C 1185.54 144.28 1189.99 141.95 1194.56 141.22 C 1194.68 143.84 1194.79 146.47 1194.95 149.10 C 1202.73 151.30 1210.50 153.53 1218.27 155.80 C 1221.98 157.29 1225.77 155.19 1229.47 154.63 C 1229.40 161.79 1229.35 168.96 1229.13 176.13 C 1232.08 177.30 1235.25 175.75 1238.23 176.78 C 1241.87 177.79 1245.55 178.70 1249.20 179.74 C 1250.73 182.46 1254.09 182.46 1256.75 183.25 C 1260.80 184.33 1264.91 185.20 1268.95 186.37 C 1268.69 189.29 1264.46 189.57 1262.37 191.08 C 1262.34 190.40 1262.29 189.06 1262.26 188.39 C 1254.64 190.89 1247.01 193.45 1239.65 196.60 C 1239.45 198.33 1239.06 200.02 1238.86 201.75 C 1229.06 205.04 1219.38 208.65 1209.62 212.04 C 1209.25 231.06 1208.93 250.07 1208.65 269.08 C 1204.77 268.37 1201.13 266.52 1197.21 266.16 C 1191.14 268.34 1185.22 270.92 1179.22 273.27 C 1177.25 273.92 1175.28 275.41 1173.16 274.62 C 1169.11 273.55 1165.11 272.31 1161.10 271.16 C 1159.77 271.96 1158.42 272.70 1157.09 273.45 C 1155.85 272.86 1154.65 272.29 1153.44 271.71 C 1153.45 271.00 1153.46 269.59 1153.46 268.88 C 1143.33 265.84 1133.22 262.72 1123.07 259.76 C 1122.12 260.32 1121.17 260.86 1120.22 261.38 C 1113.37 258.94 1106.39 256.87 1099.50 254.56 C 1098.86 253.55 1098.47 252.19 1097.18 251.88 C 1092.85 250.41 1088.47 249.11 1084.12 247.74 C 1082.03 250.18 1079.08 249.30 1076.41 248.60 C 1076.28 241.25 1075.91 233.90 1075.85 226.55 C 1072.71 226.90 1069.55 228.52 1066.40 227.48 C 1059.43 225.58 1052.53 223.44 1045.50 221.79 C 1045.58 202.60 1045.71 183.41 1046.22 164.24 C 1059.91 159.99 1073.40 155.11 1087.07 150.81 C 1087.08 149.18 1087.15 147.56 1087.15 145.94 C 1088.86 145.27 1090.63 144.73 1092.40 144.16 C 1092.51 142.09 1092.67 140.02 1092.76 137.95 C 1095.90 135.61 1099.61 136.18 1103.11 137.27 C 1104.64 136.64 1106.18 135.51 1107.94 135.90 C 1112.12 136.42 1116.29 137.12 1120.48 137.63 C 1120.34 135.56 1120.31 133.49 1120.21 131.42 Z")
        g(style="transform: translate(1150px, 145px)")
          circle.select-facade__circle(r="40" cx="0" cy="0")
          text.select-facade__number(y="8")
            tspan(text-anchor="middle") А
      // Секция Б
      g.select-facade__house(data-name="Б" data-name-eng="B" data-entrance="32")
        path.select-facade__fill(xmlns="http://www.w3.org/2000/svg" d="M 1262.50 192.15 C 1264.99 190.62 1267.50 189.13 1270.00 187.59 C 1278.16 189.53 1286.29 191.54 1294.45 193.46 C 1296.06 193.91 1297.57 192.99 1299.09 192.54 C 1309.86 195.15 1320.59 197.95 1331.34 200.67 C 1331.35 201.40 1331.37 202.87 1331.38 203.61 C 1343.26 206.67 1355.14 209.75 1367.03 212.81 C 1372.23 214.00 1377.46 216.53 1382.83 214.56 C 1391.66 216.72 1400.30 219.64 1409.10 221.96 C 1411.24 222.19 1411.96 224.76 1414.12 224.99 C 1427.77 228.73 1441.33 232.77 1454.98 236.49 C 1448.13 356.00 1440.84 475.48 1433.87 594.99 C 1435.59 595.81 1438.60 596.28 1438.22 598.85 C 1436.50 604.68 1434.17 610.33 1432.17 616.08 C 1414.98 625.11 1397.85 634.25 1380.67 643.29 C 1380.53 638.95 1380.42 634.61 1380.31 630.27 C 1381.50 629.49 1382.69 628.72 1383.91 627.95 C 1389.78 515.87 1395.66 403.80 1401.53 291.72 C 1377.91 285.06 1354.23 278.58 1330.64 271.82 C 1329.98 270.58 1329.13 269.40 1327.64 269.24 C 1320.32 267.24 1313.00 265.26 1305.71 263.16 C 1301.12 261.34 1297.06 265.33 1292.85 266.61 C 1291.14 265.94 1289.44 265.29 1287.76 264.64 C 1278.42 268.23 1269.17 272.03 1259.88 275.73 C 1259.33 280.20 1258.78 284.67 1258.24 289.14 C 1254.48 289.95 1250.36 289.86 1247.04 292.00 C 1245.41 292.96 1243.84 294.00 1242.25 295.00 C 1242.02 289.55 1241.82 284.10 1241.58 278.65 C 1231.02 275.49 1220.54 272.10 1209.94 269.09 C 1210.04 250.19 1210.15 231.30 1210.25 212.40 C 1220.05 209.04 1229.83 205.64 1239.63 202.29 C 1239.62 200.43 1239.62 198.57 1239.65 196.72 C 1246.93 194.11 1254.21 191.49 1261.52 188.92 C 1261.76 189.73 1262.25 191.34 1262.50 192.15 Z")
        g(style="transform: translate(1315px, 195px)")
          circle.select-facade__circle(r="40" cx="0" cy="0")
          text.select-facade__number(y="8")
            tspan(text-anchor="middle") Б
      // Секция В
      g.select-facade__house(data-name="В" data-name-eng="V" data-entrance="33")
        path.select-facade__fill(xmlns="http://www.w3.org/2000/svg" d="M 1291.87 267.22 C 1295.93 266.09 1299.70 263.99 1303.85 263.12 C 1335.76 272.84 1367.62 282.75 1399.49 292.64 C 1393.96 404.44 1388.56 516.26 1383.05 628.06 C 1378.08 630.71 1381.48 637.31 1379.56 641.52 C 1344.39 661.10 1309.14 680.56 1273.90 700.04 C 1271.08 699.36 1268.02 699.09 1265.65 697.28 C 1270.53 568.08 1274.96 438.85 1279.64 309.63 C 1266.59 306.04 1253.53 302.48 1240.49 298.89 C 1241.15 297.53 1241.41 295.74 1242.99 295.10 C 1246.00 293.45 1248.90 291.53 1252.06 290.16 C 1254.54 289.96 1257.06 290.12 1259.57 289.92 C 1260.03 285.34 1260.75 280.81 1261.33 276.25 C 1270.17 272.63 1279.02 269.01 1287.90 265.49 C 1289.17 266.11 1290.40 266.99 1291.87 267.22 Z")
        g(style="transform: translate(1315px, 290px)")
          circle.select-facade__circle(r="40" cx="0" cy="0")
          text.select-facade__number(y="8")
            tspan(text-anchor="middle") В
      // Секция И
      g.select-facade__house(data-name="И" data-name-eng="I" data-entrance="29")
        path.select-facade__fill(xmlns="http://www.w3.org/2000/svg" d="M 734.50 262.99 C 735.82 262.34 737.16 261.69 738.50 261.04 C 740.49 261.69 742.49 262.34 744.50 262.99 C 746.98 262.15 749.65 260.53 752.32 261.69 C 765.38 266.02 778.49 270.20 791.59 274.43 C 794.26 275.26 796.86 276.47 799.67 276.80 C 805.18 275.90 810.22 272.33 815.99 273.21 C 815.94 276.97 816.04 280.73 816.02 284.50 C 823.16 286.81 830.29 289.16 837.41 291.56 C 841.52 293.23 845.78 290.89 849.99 290.81 C 850.01 298.84 849.99 306.88 850.00 314.91 C 851.08 315.28 852.17 315.65 853.28 316.02 C 855.04 315.36 856.81 314.70 858.58 314.03 C 863.55 315.85 868.51 317.67 873.48 319.49 C 873.50 320.24 873.54 321.76 873.55 322.51 C 879.54 324.34 885.52 326.18 891.50 328.01 C 882.84 331.30 874.21 334.69 865.54 337.96 C 865.52 337.34 865.49 336.12 865.47 335.51 C 864.31 335.02 863.16 334.52 862.03 334.02 C 852.99 337.43 844.05 341.06 835.01 344.45 C 835.00 346.64 834.99 348.84 834.99 351.03 C 829.32 353.48 823.71 356.04 818.02 358.42 C 820.97 494.62 824.02 630.81 827.00 767.01 C 773.49 742.47 719.95 718.02 666.46 693.46 C 660.06 562.13 653.43 430.82 647.03 299.50 C 663.34 294.17 679.64 288.84 695.95 283.51 C 695.96 282.06 695.98 280.62 696.01 279.18 C 696.51 278.97 697.51 278.57 698.00 278.36 C 698.00 275.38 698.00 272.40 698.00 269.42 C 699.89 268.79 701.77 268.15 703.66 267.50 C 706.26 268.34 708.86 269.19 711.47 270.01 C 711.50 269.34 711.54 268.01 711.57 267.34 C 715.02 265.31 718.87 265.74 722.33 267.49 C 726.19 265.54 730.50 265.39 734.52 266.99 C 734.50 265.65 734.49 264.32 734.50 262.99 Z")
        g(style="transform: translate(770px, 280px);")
          circle.select-facade__circle(r="40" cx="0" cy="0")
          text.select-facade__number(y="8")
            tspan(text-anchor="middle") И
      // Секция Ж
      g.select-facade__house(data-name="Ж" data-name-eng="J" data-entrance="28")
        path.select-facade__fill(xmlns="http://www.w3.org/2000/svg" d="M 889.11 328.90 C 890.18 328.60 891.36 327.90 892.51 328.41 C 896.01 329.60 899.35 331.23 902.86 332.43 C 904.99 331.77 907.26 330.60 909.50 331.63 C 919.49 334.94 929.50 338.20 939.47 341.57 C 939.50 342.30 939.54 343.76 939.56 344.49 C 944.77 346.13 949.93 347.98 955.17 349.56 C 957.14 350.23 959.06 348.99 960.95 348.54 C 965.63 350.04 970.27 351.67 974.93 353.25 C 982.02 350.58 989.03 347.69 996.15 345.08 C 997.58 344.32 999.08 344.99 1000.51 345.40 C 1013.95 349.89 1027.48 354.10 1040.96 358.49 C 1041.08 365.18 1040.89 371.87 1041.08 378.55 C 1054.90 383.01 1068.72 387.49 1082.51 392.04 C 1081.11 496.01 1079.77 599.98 1078.39 703.96 C 1077.85 739.18 1077.61 774.40 1076.88 809.62 C 1053.56 823.17 1030.30 836.85 1007.04 850.51 C 947.03 822.68 887.02 794.87 827.03 766.99 C 825.33 693.31 823.78 619.64 822.12 545.96 C 820.83 483.41 819.23 420.87 818.10 358.32 C 823.81 356.07 829.34 353.43 834.99 351.03 C 834.99 348.83 835.00 346.63 835.03 344.43 C 844.07 341.04 853.04 337.46 862.05 333.97 C 863.86 334.74 866.06 335.40 865.77 337.89 C 873.55 334.91 881.33 331.91 889.11 328.90 Z")
        g(style="transform: translate(935px, 355px);")
          circle.select-facade__circle(r="40" cx="0" cy="0")
          text.select-facade__number(y="8")
            tspan(text-anchor="middle") Ж
      // Секция Е
      g.select-facade__house(data-name="Е" data-name-eng="E" data-entrance="27")
        path.select-facade__fill(xmlns="http://www.w3.org/2000/svg" d="M 1122.21 346.28 C 1125.68 345.34 1128.78 343.36 1132.11 342.00 C 1161.37 351.21 1190.66 360.34 1219.94 369.46 C 1216.72 491.96 1213.33 614.46 1209.97 736.96 C 1165.71 761.27 1121.28 785.26 1076.99 809.53 C 1078.85 670.36 1080.65 531.19 1082.51 392.03 C 1069.87 387.86 1057.21 383.78 1044.56 379.68 C 1043.41 379.16 1041.90 379.14 1041.08 378.15 C 1040.82 373.94 1041.07 369.72 1041.01 365.52 C 1042.66 366.33 1044.32 367.16 1045.98 367.99 C 1045.98 365.79 1046.00 363.59 1046.05 361.40 C 1056.46 357.60 1066.71 353.35 1077.11 349.51 C 1083.44 351.58 1089.81 353.56 1096.17 355.58 C 1098.35 356.37 1100.47 354.98 1102.54 354.43 C 1102.47 353.18 1102.42 351.95 1102.38 350.71 C 1107.16 348.40 1112.14 346.54 1117.04 344.51 C 1118.73 345.16 1120.42 345.86 1122.21 346.28 Z")
        g(style="transform: translate(1125px, 370px);")
          circle.select-facade__circle(r="40" cx="0" cy="0")
          text.select-facade__number(y="8")
            tspan(text-anchor="middle") Е

      g.select-facade__house.select-facade__house--no-hover(data-name="Д")
        g(style="transform: translate(990px, 220px);")
          circle.select-facade__circle.select-facade__circle--grey(r="40" cx="0" cy="0")
          text.select-facade__number(y="8")
            tspan(text-anchor="middle") Д
      g.select-facade__house.select-facade__house--no-hover(data-name="Г")
        g(style="transform: translate(1155px, 275px)")
          circle.select-facade__circle.select-facade__circle--grey(r="40" cx="0" cy="0")
          text.select-facade__number(y="8")
            tspan(text-anchor="middle") Г

  .bg0089CF.select-z-index: .container: .select-cols.rp-padding
    .select-col.select-floor-plan.bg066B9E: .select-floor-plan__sticky
      .select-second-title План этажа секции<span class="number_section"></span>
      .height40
      .select-floor-plan__cols
        .select-floor-plan__col
          .select-col-name Этажей
          #storey_count.select-col-value
        .select-floor-plan__col
          .select-col-name Срок сдачи
          .select-col-value <span id="deadline_quarter"></span> кв <span id="deadline_year"></span>г
        .select-floor-plan__col
          .select-col-name Потолки, м
          .select-col-value 3
        .select-floor-plan__col
          .select-col-name Отделка
          #finishing.select-col-value.select-col-value--uppercase
      .height50
      .height30
      .select-floor-plan__svg
      .select-floor-plan__bottom
        include ../components/plan-house
        +svg('rose-2','select-floor-plan__rose')
    .select-col.select-chess
      .select-second-title Квартиры в секции<span class="number_section"></span>
      .height40
      .select-chess__cols
        .select-chess__col.select-chess__col--floor
          .select-col-name Этаж
        .select-chess__col.select-chess__col--flats
          .select-col-name Квартиры
      .height40
      .select-chess__flats-container
      .height40
      .select-designations
        .select-designations__title Обозначения
        .select-designations__cols
          .select-designations__item.free Свободна
          .select-designations__item.booked Забронирована
          .select-designations__item.sold Продана