.screen-swiper {
  height: 100vh;
  &.swiper-container, .swiper-wrapper {
    z-index: calc(var(--header-z-index) - 3);
  }
}

.screen-pagination {
  margin-bottom: 35px;
  display: flex; align-items: center; flex-direction: column;
  &__bullet {
    width: 2px; height: 2px;
    box-sizing: content-box;
    background-color: #fff;
    border-radius: 8px;  border: 2px solid #fff;
    &--active {
      width: 4px; height: 4px;
      background-color: #F15A26; cursor: default;
      transition: background-color .15s ease-in-out, width .15s ease-in-out, height .15s ease-in-out;
    }
    & + & {
      margin-top: 9px;
    }
  }
}

.first-screen {
  position: relative;
  background: no-repeat center/cover;
  width: calc(100% - var(--rp-width)); height: 100vh;
  @media (max-width: 767px) {
    height: calc(100vh - var(--mobile-header-height));
  }
  &::after {
    content: '';
    width: 100%; height: 70px;
    position: absolute; left: 0; bottom: 0;
    z-index: calc(var(--header-z-index) - 4);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    @media (min-width: 768px) {
      height: 150px;
    }
  }
  &__title {
    color: #fff; text-transform: uppercase; line-height: 1;
    font-family: 'TTFirs', sans-serif; font-size: 24px; font-weight: 900; font-style: normal;
    @media (min-width: 768px) {
      font-size: 3.13vw;
    }
  }
  &__desc {
    margin-top: 14px;
    line-height: 1; font-size: 11px; color: #fff;
    @media (min-width: 768px) {
      font-size: 1.25vw;
    }
  }
  &__link {
    width: fit-content;
    margin-top: 40px; text-decoration-line: underline;
    line-height: 1; font-size: rem(14px); color: #fff;
    @media (max-width: 1366px) {
      margin-top: 2.8vw;
    }
    svg {
      fill: #fff;
      width: 35px; height: 8px;
    }
  }
  &__arc {
    user-select: none;
    z-index: calc(var(--header-z-index) - 1);
    position: absolute; left: 0; bottom: 70px;
    display: flex; flex-direction: column; justify-content: center;
    width: 315px; height: 180px; padding: 60px 0 0 var(--fs-padding-l);
    background: url('../images/background/arc-orange.svg') no-repeat right top/auto 180px;
    @media (min-width: 768px) {
      bottom: 30px;
      width: 41.042vw; height: 23.542vw; padding: 7.8vw 0 0 var(--fs-padding-l);
      background: url("../images/background/arc-orange.svg") no-repeat right top/auto 23.5vw;
    }
  }
}