.modal-flat {
  .fancybox-content, .container {
    padding: 0;
  }
  .container {
    width: 100vw;
  }
  .fancybox-button {
    opacity: 1;
    @media (max-width: 991px) {
      margin: 9px 7px 0 0;
      padding: 0!important;
      width: 52px; height: 52px;
    }
    svg {
      path {
        fill: #c4c4c4;
        @media (min-width: 992px) {
          fill: #fff;
        }
      }
    }
  }
  .fancybox-close-small {
    padding: 5px;
  }
  .fancybox-slide--html {
    @media (max-width: 575px) {
      padding: 0;
    }
  }
}

.fancy-white .fancybox-slide {
  background-color: #fff;
}

.flat {
  @media (min-width: 992px) {
    display: flex;
  }
  &__left, &__right {
    flex-shrink: 0;
    @media (min-width: 992px) {
      width: 50%;
    }
  }
  &__left {
    position: relative;
    background-color: #fff;
    &__top {
      padding: 20px;
      display: flex; align-items: center; justify-content: space-between;
    }
    &__bottom {
      padding: 20px 15px;
      @media (min-width: 768px) {
        padding: 45px 15px;
        display: flex; justify-content: center;
      }
      &__item {
        margin: 5px 5px 0;
        font-size: rem(14px);
        cursor: pointer; user-select: none;
        text-decoration: underline; color: #FF0101; line-height: 1;
        @media (min-width: 768px) {
          margin: 0 20px;
        }
        &--active {
          cursor: default;
          color: #939393; text-decoration: none;
        }
      }
    }
  }
  &__print {
    outline: none;
    font-size: rem(14px);
    text-decoration: none;
    line-height: 1; color: #939393;
    cursor: pointer; user-select: none;
    display: flex; align-items: center;
    &:hover {
      color: #939393;
    }
    &:not(&--no-icon):before {
      margin-right: 10px;
      content: url('../images/print.svg');
    }
    &--no-icon {
      padding-left: 30px;
    }
  }
  &__open-image {
    cursor: pointer;
    width: 30px; height: 30px;
    background: url('../images/open-image.svg') no-repeat center/cover;
    @media (max-width: 991px) {
      margin-right: 43px;
    }
    @media (max-width: 575px) {
      margin-right: 60px;
    }
  }
  &__image {
    height: 50vh;
    text-align: center;
    display: flex; flex-direction: column; align-items: center;
    &__bottom {
      order: 1;
      flex-shrink: 0;
      margin-top: 30px;
      @media(min-width: 768px) {
        display: flex; align-items: center;
      }
      &__what {
        display: block;
        font-size: rem(14px);
        line-height: 1.1; color: #f15a26;
        @media(min-width: 768px) {
          text-align: left;
          margin-left: 15px;
        }
      }
    }
    img {
      order: 0;
      flex-shrink: 1;
      cursor: pointer;
      max-width: 100%;
      max-height: 100%;
    }
    &__bottom + img {
      max-height: calc(100% - 75px);
    }
  }
  &__rose {
    transform: rotate(30deg);
    width: 66px; height: 66px;
    position: absolute; right: 20px; bottom: 20px;
    background: url('../images/rose-2.svg') no-repeat center/cover;
  }
  &__right {
    padding: 30px 20px;
    background-color: #0089CF;
    display: flex; flex-direction: column; justify-content: center;
    @media (min-width: 576px) {
      padding: 30px 50px;
    }
    @media (min-width: 1610px) {
      padding: 30px 100px;
    }
  }
  &__status {
    margin-bottom: 8px;
    font-size: rem(12px);
    display: flex; align-items: center;
    line-height: 1; color: rgba(255, 255, 255, .8);
    &:before {
      content: '';
      margin-right: 5px;
      border-radius: 6px;
      width: 6px; height: 6px;
    }
    &.free:before {
      background-color: #B2D235;
    }
    &.booked:before {
      background-color: #F89808;
    }
    &.sold:before {
      background-color: #0B9AE2;
    }
    &.star:before {
      border-radius: 0;
      width: 12px; height: 12px;
      content: url('../images/star.svg');
    }
  }
  &__name {
    margin-bottom: 50px;
    text-transform: uppercase; line-height: 1; color: #fff;
    font-family: 'TTFirs', sans-serif; font-weight: 900; font-size: 8.2vw;
    @media (min-width: 390px) {
      font-size: rem(28px);
    }
    @media (min-width: 1610px) {
      font-size: rem(36px);
    }
  }
  &__attrs {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    margin-bottom: 10px;
  }
  &__attr {
    width: 50%;
    flex-shrink: 0;
    margin-bottom: 30px;
    &__name {
      color: #fff;
      line-height: 1;
      margin-bottom: 6px;
      font-size: rem(14px);
    }
    &__value {
      color: #fff;
      line-height: 1;
      font-weight: 900;
      font-size: rem(24px);
      text-transform: uppercase;
      font-family: 'TTFirs', sans-serif;
    }
  }
}