.flat-mini {
  height: 100%;
  position: relative;
  padding: 50px 30px 0;
  text-align: center; color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .03);
  background: #0B9AE2; border: 1px solid #1697D9;
  display: flex; flex-direction: column; justify-content: space-between;
  &:before {
    content: '';
    width: 122px; height: 51px;
    position: absolute; left: 50%; margin-left: -61px; top: -26px;
    background: url('../images/background/arc-orange.svg') no-repeat center/122px 51px;
  }
  &__image {
    height: 230px;
    margin-bottom: 20px;
    img {
      max-width: 100%; user-select: none;
    }
  }
  &__title {
    line-height: 1.1;
    margin-bottom: 10px;
    font-size: rem(16px);
  }
  &__area {
    margin-bottom: 20px;
    line-height: 1; text-align: center;
    font-family: 'TT Firs', sans-serif; font-weight: 800; font-size: rem(30px);
  }
  &__view {
    cursor: pointer;
    border-radius: 97px;
    margin: 0 auto -48px;
    width: 97px; height: 97px;
    background-color: #F15A26; user-select: none;
    display: flex; align-items: center; justify-content: center;
    position: relative; z-index: calc(var(--header-z-index) - 3);
    line-height: 1; font-size: rem(14px); color: #fff; text-decoration: none;
  }
}