[data-formhandler] .alert {
    position: absolute;
    top: 10px;
    left: 0;
    text-align: center;
    width: 100%;
}

[data-formhandler] button:not(.fancybox-button),[data-formhandler] [type="button"]:not(.fancybox-button),[data-formhandler] [type="submit"]:not(.fancybox-button) {
    position: relative;
}

.hide-invalid-feedback + .invalid-feedback {
    display: none;
}

.is-invalid {
    border-color: #d64356;
    animation-name: shake;
    animation-duration: .5s;
}

.invalid-feedback {
  width: 100%;
  z-index: 1;
  height: calc(100% - 1px);
  font-size: 90%;
  color: #d64356;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: -1px;
  @extend .is-invalid;
}

@keyframes shake {
    from, to {
        transform: translate3d(0, 0, 0);
    }
    10%, 50%, 90% {
        transform: translate3d(-3px, 0, 0);
    }
    30%, 70% {
        transform: translate3d(3px, 0, 0);
    }
}

.formhandler-spinner {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid transparent;
    animation: 1s linear 0s normal none infinite running spinnerRotation;
}

@keyframes spinnerRotation {
    0% {
        transform: translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateY(-50%) rotate(360deg);
    }
}