.icon-text-h {
  display: flex;
  align-items: center;
  &__icon {
    width: 106px; height: 106px; margin-right: 15px;
    border-radius: 106px; background-color: #F15A26;
    display: flex; align-items: center; justify-content: center; flex-shrink: 0;
    svg {
      fill: #fff;
      width: 50px; height: 50px;
    }
  }
  &__text {
    color: #fff;
    line-height: 1.2;
    font-size: rem(18px);
    @media (max-width: 767px) {
      br {
        display: none;
      }
    }
  }
}