.modalhandler {
  .fancybox-content {
    min-width: 500px;
    padding: 35px 50px 50px;
    @media(max-width: 767px) {
      min-width: auto;
      padding: 25px 30px 30px;
      width: 100%; height: 100%;
    }
  }
  .fancybox-slide--html {
    @media(max-width: 767px) {
      padding: 0;
    }
  }
  .fancybox-button {
    padding: 0;
    opacity: 1;
    width: 50px;
    height: 50px;
    background-color: #0089CF;
    transition: background-color .15s ease-in-out;
    path {
      fill: #fff;
    }
    &:hover {
      background-color: #00b6ff;
    }
  }
  &__form {
    user-select: none;
  }
  &__title {
    font-weight: 600;
    line-height: 1.19;
    margin-bottom: 20px;
    font-size: rem(24px);
    @media(min-width: 421px) {
      font-size: rem(28px);
    }
    @media(min-width: 768px) {
      font-size: rem(36px);
      margin-bottom: 25px;
    }
  }
  &__sub-title {
    line-height: 1;
    font-weight: 600;
    margin-bottom: 25px;
    font-size: rem(26px);
  }
  &__desc {
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 25px;
    @media(max-width: 420px) {
      font-size: rem(14px);
      br {
        display: none;
      }
    }
  }
  &__group {
    display: block;
    margin-bottom: 30px;
    &--no-invalid .invalid-feedback {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
  &__label {
    font-weight: 500;
    font-size: rem(18px);
  }
  &__field {
    border: 0;
    width: 100%;
    padding: 0;
    height: 35px;
    display: block;
    border-radius: 0;
    outline: none!important;
    box-shadow: none!important;
    border-bottom: 1px solid #7D879C;
    background-color: transparent!important;
    &--white {
      background-color: #fff!important;
    }
  }
  &__wrap-field {
    position: relative;
    &--white .invalid-feedback {
      background: #fff!important;
      border-bottom: 1px solid #dc3545;
    }
  }
  &__btn {
    width: 100%!important;
    outline: none!important;
    box-shadow: none!important;
  }
  &__tabs {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
  }
  &__tab {
    color: #7D879C;
    line-height: 1;
    cursor: pointer;
    padding: 8px 15px;
    &--active {
      color: #fff;
      cursor: default;
      border-radius: 25px;
      background-color: #0089CF;
    }
  }
}