.title {
  position: relative;
  line-height: 1; text-transform: uppercase; color: #fff;
  font-family: 'TTFirs', sans-serif; font-size: rem(28px); font-weight: 900;
  @media (min-width: 576px) {
    font-size: rem(32px);
  }
  @media (min-width: 768px) {
    font-size: rem(40px);
  }
  &__wrap {
    position: relative; z-index: 2;
  }
  &:not(&--no-arc)::before {
    content: ''; width: 480px; height: 200px;
    z-index: 1; position: absolute; left: -290px; top: -80px;
    background: url('../images/background/arc-orange.svg') no-repeat right top/auto 200px;
  }
}
.z-index-title-fix {
  position: relative; z-index: 2;
}