.about-map {
  @media (min-width: 768px) {
    height: 800px;
    position: relative;
  }
  &__wrapper {
    background-color: #0089CF; height: 300px;
    @media (min-width: 768px) {
      height: 100%;
      width: calc(43% - var(--rp-width));
      z-index: calc(var(--header-z-index) - 3);
      position: absolute; right: var(--rp-width); top: 0;
    }
    @media (min-width: 1400px) {
      width: calc(50% - var(--rp-width));
    }
    @media (max-width: 767px) {
      margin-left: calc(-1 * var(--bs-gutter-x,.75rem));
      width: calc(100% + var(--bs-gutter-x,.75rem) * 2);
    }
  }
  &__point {
    color: #fff;
    width: 22px; height: 32px;
    overflow: initial!important;
    transform: translate(11px, -18px);
    &__wrap {
      background-color: #066B9E;
      transform: translateY(-50%);
      font-size: 9px; line-height: 1.2;
      max-width: 110px; padding: 2px 5px;
      position: absolute; left: 0; top: 0;
      white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
    }
  }
  &__category {
    user-select: none;
    width: fit-content; cursor: pointer;
    position: relative; z-index: calc(var(--header-z-index) - 3);
    font-size: rem(18px); font-weight: bold; font-family: 'TT Firs', sans-serif;
    letter-spacing: 0.06em; line-height: 1; text-transform: uppercase; color: #fff;
    & + & {
      margin-top: 20px;
    }
    &--active {
      color: #0B9AE2; cursor: default;
      display: flex; align-items: center;
      &:before {
        content: '';
        margin-right: 10px;
        width: 35px; height: 2px;
        background-color: #0089CF;
      }
    }
  }
  &__categories {
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.about-flats {
  margin: 0 -15px;
  @media (min-width: 768px) {
    display: flex; justify-content: center;
  }
  @media (max-width: 1199px) {
    flex-wrap: wrap;
    margin: 0 -15px -90px;
  }
}
.about-flat {
  margin: 0 15px 90px;
  @media (min-width: 768px) {
    flex-shrink: 0;
    width: calc(33.3333% - 30px);
  }
  @media(min-width: 1200px) {
    flex: 1 0 0;
    width: auto;
    margin: 0 15px;
  }
}