.contacts-map {
  overflow: hidden;
  position: relative;
  @media (min-width: 768px) {
    height: 100vh;
  }
}

.contacts-height {
  @media (max-width: 767px) {
    height: 40px!important;
  }
}

.contacts-long-title {
  color: #fff;
  line-height: 1;
  font-weight: 900;
  font-size: rem(20px);
  text-transform: uppercase;
  font-family: 'TTFirs', sans-serif;
}

.contacts-text {
  position: relative;
  max-width: 750px!important;
  padding-right: 0!important;
  z-index: calc(var(--header-z-index) - 2);
}

.contacts-author {
  color: #fff;
  padding-bottom: 50px;
  z-index: calc(var(--header-z-index) - 3);
  @media (min-width: 768px) {
    position: absolute; bottom: 0;
  }
  &__text {
    position: relative; z-index: 1;
  }
  @media (min-width: 768px) {
    &:after {
      content: '';
      width: 800px; height: 420px;
      position: absolute; left: -250px; top: -200px;
      background: url('../images/background/arc-orange.svg') no-repeat right top/auto 420px;
    }
  }
}