.gallery-nums {
  display: flex; align-items: center;
  &__line {
    margin: 0 15px;
    width: 100px; height: 2px;
    background-color: rgba(255, 255, 255, .5);
  }
}

.gallery {
  position: relative;
  z-index: calc(var(--header-z-index) - 3);
  @media (min-width: 768px) {
    overflow: hidden;
  }
  &:after {
    display: none;
  }
}

.gallery-swiper {
  margin-left: auto;
  position: relative;
  @media (min-width: 768px) {
    width: 70vw; height: 100vh;
  }
  &__item {
    height: 40vh;
    background: no-repeat center/cover;
    @media (min-width: 768px) {
      height: 100vh;
    }
  }
  &__prev, &__next {
    z-index: 1;
    cursor: pointer;
    width: 60px; height: 60px;
    position: absolute; bottom: 50%;
    background: rgba(241, 90, 38, .8);
    display: flex; align-items: center; justify-content: center;
    svg {
      fill: #fff;
      width: 27px; height: 21px;
    }
    &.swiper-button-disabled {
      display: none;
    }
  }
  &__prev {
    left: 0;
  }
  &__next {
    right: 0;
    svg {
      transform: scale(-1);
    }
  }
}

.gallery-arc {
  width: 35vw;
  background-size: auto 20vw;
  padding: 3.8vw 0 0 var(--fs-padding-l);
  @media (min-width: 1025px) {
    bottom: -35px;
  }
  @media (max-width: 767px) {
    display: none;
  }
}