.news-wrap {
  min-height: 100vh;
}

.news-fancy {
  .fancybox-slide--html {
    padding: 0;
  }
  .fancybox-close-small {
    display: none;
  }
}

@media (max-width: 575px) {
  .news-popup, .news__container, .news__container .container, .news-popup__wrap {
    height: 100%;
  }
  .news__container .container {
    padding: 0;
  }
}

.news {
  display: flex; flex-wrap: wrap;
  &__container {
    padding-right: var(--rp-width);
  }
  &__item {
    width: 100%;
    cursor: pointer;
    position: relative;
    flex-shrink: 0; padding: 0 0 60px;
    color: #fff; text-decoration: none;
    z-index: calc(var(--header-z-index) - 3);
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
    @media (min-width: 576px) {
      padding: 30px 30px 80px;
    }
    @media (min-width: 768px) {
      width: 50%;
      &:not(:nth-last-child(-n+2)) {
        border-bottom: 1px solid rgba(255, 255, 255, .5);
      }
    }
    @media (min-width: 992px) {
      width: 33.3333%;
      &:not(:nth-last-child(-n+3)) {
        border-bottom: 1px solid rgba(255, 255, 255, .5);
      }
    }
    &:hover {
      color: #fff;
      border-color: #0491E1;
      background-color: #0491E1;
    }
  }
  &__date {
    margin-bottom: 25px;
    line-height: 1; font-size: rem(18px);
  }
  &__title {
    margin-bottom: 25px;
    line-height: 1; text-transform: uppercase;
    font-family: 'TTFirs', sans-serif; font-weight: 900; font-size: rem(21px);
    @media(min-width: 1400px) {
      font-size: rem(24px);
    }
    @media(min-width: 1610px) {
      font-size: rem(30px);
    }
  }
  &__view {
    opacity: 0;
    border-radius: 45px;
    background-color: #fff;
    width: 45px; height: 45px;
    transition: opacity .15s ease-in-out;
    position: absolute; right: 20px; bottom: 20px;
    display: flex; align-items: center; justify-content: center;
    svg {
      fill: #F15A26;
      width: 7px; height: 17px;
    }
  }
  &__item:hover &__view {
    opacity: 1;
  }
}

.news-popup {
  padding: 0;
  width: 100%;
  color: #fff;
  background: none;
  &__wrap {
    padding: 0 20px;
    background-color: #0491E1;
    @media (min-width: 576px) {
      padding: 0 0 0 30px;
    }
  }
  &__top {
    height: 60px;
    font-size: rem(18px); line-height: 1;
    display: flex; align-items: center; justify-content: space-between;
    @media (max-width: 575px) {
      margin-bottom: 30px;
    }
    @media (min-width: 576px) {
      padding-right: 30px;
    }
    @media (min-width: 1200px) {
      height: 80px;
    }
  }
  &__close {
    color: #fff;
    outline: none;
    cursor: pointer;
    display: flex; align-items: center;
    &:after {
      content: '';
      margin-left: 23px;
      width: 30px; height: 30px;
      background: url('../images/close-popup.svg') no-repeat center/cover;
      @media (min-width: 1200px) {
        width: 45px; height: 45px;
      }
    }
  }
  &__content {
    display: flex;
  }
  &__left {
    position: relative;
    padding-right: 30px;
    @media (min-width: 992px) {
      padding-bottom: 30px;
      &:before {
        content: '';
        width: 400px; height: 240px;
        position: absolute; left: -30px; bottom: 30px;
        background: url('../images/background/arc-orange.svg') no-repeat right top/auto 240px;
      }
    }
  }
  &__right {
    flex-shrink: 0;
    max-width: 500px;
    margin-left: auto;
    text-align: right;
    @media (min-width: 1200px) {
      max-width: 700px;
    }
    @media (min-width: 1610px) {
      max-width: 950px;
    }
    @media (max-width: 991px) {
      display: none;
    }
    img {
      max-width: 100%;
    }
  }
  &__title {
    margin-bottom: 30px;
    position: relative; z-index: 1;
    line-height: 100%; text-transform: uppercase; color: #FFF;
    font-family: 'TTFirs', sans-serif; font-size: rem(21px); font-weight: 900;
    @media (min-width: 1200px) {
      font-size: rem(24px);
    }
    @media (min-width: 1400px) {
      font-size: rem(30px);
    }
    @media (min-width: 1610px) {
      margin-top: 70px;
    }
  }
  &__desc {
    line-height: 1.1;
    font-size: rem(18px);
    position: relative; z-index: 1;
  }
}