.plan-group {
  display: block;
  padding: var(--bs-gutter-x,.75rem);
  img {
    max-width: 100%;
  }
}

.section-group-1 {
  @media(min-width: 1200px) {
    position: relative;
    &:before {
      content: '';
      width: 1085px; height: 452px;
      position: absolute; left: -290px; top: -200px;
      background: url('../images/background/arc-orange.svg') no-repeat center/auto 452px;
    }
  }
}

.section-group-2 {
  @media(min-width: 1200px) {
    position: relative;
    &:before {
      content: '';
      width: 1085px; height: 452px;
      position: absolute; right: -290px; top: -200px;
      background: url('../images/background/arc-orange.svg') no-repeat center/auto 452px;
    }
  }
}

.plan-hide-height-1 {
  @media(max-width: 1609px) {
    display: none;
  }
}

.plan-hide-height-2 {
  @media(max-width: 767px) {
    display: none;
  }
}