.select-z-index {
  position: relative;
  z-index: calc(var(--header-z-index) - 3);
}
.select-facade {
  width: 100%;
  &__house {
    cursor: pointer;
    &--no-hover {
      cursor: default;
    }
  }
  &__fill {
    fill: rgba(241, 90, 38, 0);
    transition: fill .15s ease-in-out;
  }
  &__house:not(&__house--active):hover &__fill {
    fill: rgba(241, 90, 38, .4);
  }
  &__house--active &__fill {
    fill: rgba(241, 90, 38, .7);
  }
  &__circle {
    r: 40;
    fill: #0b9ae2;
    stroke: none;
    &--grey {
      fill: #aeaeae;
    }
  }
  &__number {
    fill: #fff;
    font-weight: 900;
    font-size: rem(26px);
    font-family: 'TTFirs', sans-serif;
  }
}

.select-cols {
  @media (min-width: 992px) {
    display: flex;
  }
}
.select-col {
  padding-bottom: 80px;
}
.select-floor-plan {
  width: 100%;
  position: relative;
  padding-right: 50px;
  @media(min-width: 1400px) {
    padding-right: 80px;
  }
  @media (max-width: 991px) {
    padding-right: 0;
    padding-bottom: 0;
    background-color: #0089cf!important;
  }
  &:before {
    @media (min-width: 992px) {
      content: '';
      width: 100%; height: 100%;
      background-color: #066B9E;
      position: absolute; right: 100%; top: 0;
    }
  }
  &__sticky {
    padding-top: 80px;
    position: sticky; top: 0;
  }
  &__street {
    user-select: none;
    position: absolute;
    font-size: rem(14px);
    color: rgba(255, 255, 255, .8); line-height: 1; text-align: center;
    @media (max-width: 767px) {
      display: none;
    }
    @media (min-width: 1610px) {
      font-size: rem(16px);
    }
    &--right {
      top: 50%; right: -80px;
      transform: rotate(-90deg);
    }
    &--top {
      top: -30px; left: 50%;
      transform: translateX(-50%);
    }
  }
  &__monument {
    position: absolute;
    width: 35px; height: 47px;
    background: url('../images/monument.svg') no-repeat center/cover;
    @media (max-width: 767px) {
      display: none;
    }
    @media (min-width: 1610px) {
      width: 48px; height: 64px;
    }
    &--top-right {
      top: -45px; right: -45px;
    }
    &--top-left {
      top: -45px; left: -45px;
    }
  }
  &__river {
    position: absolute;
    width: 20px; height: 35px;
    background: url('../images/river.svg') no-repeat center/cover;
    @media (max-width: 767px) {
      display: none;
    }
    @media (min-width: 1610px) {
      width: 29px; height: 50px;
    }
    &--left {
      left: -45px; top: 50%;
    }
    &--bottom {
      left: 50%; bottom: -60px;
      transform: rotate(90deg);
    }
  }
  &__svg {
    position: relative;
    path {
      cursor: pointer;
      fill: rgba(241, 90, 38, 0);
      transition: fill .15s ease-in-out;
      &.sold {
        cursor: default;
      }
      &:hover {
        fill: rgba(241, 90, 38, .6);
      }
    }
  }
  &__cols {
    @media (min-width: 1200px) {
      display: flex; justify-content: space-between;
    }
    @media (max-width: 991px) and (min-width: 576px) {
      display: flex; justify-content: space-between;
    }
  }
  &__col {
    @media (max-width: 1199px) and (min-width: 992px) {
      display: flex; align-items: center;
    }
    @media (max-width: 575px) {
      display: flex; align-items: center;
    }
  }
  &__bottom {
    margin-top: 50px;
    display: flex; justify-content: space-between;
  }
  &__plan {
    width: 111px; height: 123px;
    .section {
      fill: transparent;
      &.active {
        fill: rgba(241, 90, 38, .72);
      }
    }
  }
  &__rose {
    fill: #fff;
    width: 96px; height: 98px;
  }
}
:root {
  --select-chess-pl: 1px;
  --select-chess-width: 710px;
  @media (min-width: 992px) {
    --select-chess-pl: 50px;
  }
  @media (min-width: 1400px) {
    --select-chess-pl: 80px;
  }
}
.select-chess {
  flex-shrink: 0;
  padding-top: 80px;
  //max-width: var(--select-chess-width);
  padding-left: var(--select-chess-pl);
  &__flats-container {
    @media (max-width: 567px) {
      overflow: auto;
    }
  }
  @media (max-width: 991px) {
    padding-left: 0;
    padding-bottom: 30px;
  }
  @media(min-width: 992px) {
    width: 61%;
  }
  @media(min-width: 1200px) {
    width: 50%;
  }
  @media(min-width: 1400px) {
    width: fit-content;
  }
  &__cols {
    display: flex; align-items: center;
  }
  &__col {
    &--floor {
      width: 60px;
      flex-shrink: 0;
      @media (min-width: 992px) {
        width: 50px;
      }
      @media (min-width: 1400px) {
        width: 80px;
      }
    }
    &--flats {
      width: 100%;
    }
  }
  &__floor {
    user-select: none;
    font-size: rem(16px);
    color: #fff; line-height: 1; cursor: pointer;
    @media (min-width: 1400px) {
      font-size: rem(18px);
    }
    &--active {
      color: #ffa384;
      cursor: default;
    }
  }
  &__flats {
    margin-left: -10px;
    display: flex; align-items: center;
    @media (min-width: 1400px) {
      margin-left: -15px;
    }
  }
  &__flat {
    flex-shrink: 0;
    user-select: none;
    color: #fff; cursor: pointer;
    transition: filter .15s ease-in-out;
    margin-left: 7px; font-size: rem(13px);
    width: 32px; height: 32px; border-radius: 36px;
    display: flex; align-items: center; justify-content: center;
    @media (min-width: 1400px) {
      margin-left: 15px;
      width: 36px; height: 36px;
    }
    &:not(.sold):hover {
      filter: brightness(110%);
    }
    &.free {
      background-color: #B2D235;
    }
    &.booked {
      background-color: #F89808;
    }
    &.sold {
      cursor: default;
      background-color: #0B9AE2;
    }
  }
  &__line {
    cursor: pointer;
    position: relative;
    margin-bottom: 7px;
    align-items: center;
    @media (min-width: 1400px) {
      margin-bottom: 15px;
    }
    &--active {
      cursor: default;
    }
    &--species {
      &:before {
        user-select: none;
        font-size: rem(14px);
        transform: rotate(-90deg);
        color: rgba(255, 255, 255, .8);
        position: absolute; left: -30px; top: -53px;
        content: '\0412 \0438 \0434 \043E \0432 \044B \0435  \043A \0432 \0430 \0440 \0442 \0438 \0440 \044B'; // Видовые квартиры
        @media (min-width: 992px) {
          left: -95px; top: -45px;
        }
        @media (min-width: 1400px) {
          font-size: rem(16px);
          left: -120px; top: -70px;
        }
      }
      &:after {
        content: '';
        width: calc(100% + var(--select-chess-pl));
        border: 1px dashed rgba(255, 255, 255, .7);
        position: absolute; left: calc(-1 * var(--select-chess-pl)); bottom: -5px;
        @media (min-width: 1400px) {
          bottom: -8px
        }
      }
    }
  }
}
.select-second-title {
  line-height: 1; text-transform: uppercase; color: #fff;
  font-family: 'TTFirs', sans-serif; font-weight: 900; font-size: rem(24px);
  @media (min-width: 400px) {
    font-size: rem(26px);
  }
  @media (min-width: 1200px) {
    font-size: rem(32px);
  }
  @media (min-width: 1400px) {
    font-size: rem(40px);
  }
}
.select-col-name {
  user-select: none;
  margin-bottom: 5px;
  font-size: rem(14px);
  color: #fff; line-height: 1;
  @media (max-width: 1199px) {
    width: 100px;
    margin-bottom: 0;
  }
}
.select-col-value {
  line-height: 1; color: #fff;
  font-family: 'TTFirs', sans-serif; font-weight: 900; font-size: rem(18px);
  @media(min-width: 1610px) {
    font-size: rem(24px);
  }
  &--uppercase {
    text-transform: uppercase;
  }
}

.select-fly-block {
  position: absolute;
  background-color: #0089cf;
  width: 245px; padding: 25px;
  transform: translate(-124px, 25px);
  z-index: calc(var(--header-z-index) - 2);
  box-shadow: 15px 15px 35px rgba(0, 0, 0, .15);
  &:before {
    content: '';
    margin-left: -15px;
    transform: rotate(45deg);
    width: 35px; height: 35px;
    background-color: #0089cf;
    position: absolute; left: 50%; top: -5px;
  }
  &__status {
    margin-bottom: 5px;
    font-size: rem(12px);
    display: flex; align-items: center;
    line-height: 1; color: rgba(255, 255, 255, .8);
    &:before {
      content: '';
      margin-right: 5px;
      border-radius: 6px;
      width: 6px; height: 6px;
    }
    &.free:before {
      background-color: #B2D235;
    }
    &.booked:before {
      background-color: #F89808;
    }
    &.sold:before {
      background-color: #0B9AE2;
    }
  }
  &__number {
    margin-bottom: 15px;
    line-height: 1; color: #fff;
    font-family: 'TTFirs', sans-serif; font-weight: 900; font-size: rem(20px);
  }
  &__bottom {
    display: flex; justify-content: space-between;
  }
  &__col {
    &__name {
      margin-bottom: 5px;
      font-size: rem(14px);
      line-height: 1; color: #fff;
    }
    &__value {
      line-height: 1; color: #fff; text-transform: uppercase;
      font-family: 'TTFirs', sans-serif; font-weight: 900; font-size: rem(20px);
    }
  }
}

.select-designations {
  user-select: none;
  &__title {
    margin-bottom: 20px;
    font-size: rem(16px);
    line-height: 1; color: #fff;
  }
  &__cols {
    display: flex; align-items: center;
  }
  &__item {
    font-size: 12px;
    display: flex; align-items: center;
    line-height: 1; color: rgba(255, 255, 255, .8);
    &:before {
      content: '';
      margin-right: 8px;
      border-radius: 18px;
      width: 18px; height: 18px;
    }
    &.free:before {
      background-color: #B2D235;
    }
    &.booked:before {
      background-color: #F89808;
    }
    &.sold:before {
      background-color: #0B9AE2;
    }
    & + & {
      margin-left: 20px;
    }
  }
}

.number_section {
  margin-left: 13px;
}