.height10 {
    height: 10px;
}
.height20 {
    height: 20px;
}
.height30 {
    height: 30px;
}
.clear {
    clear: both;
}
.header {
    width: 100%;
}
.logo {
    float: left;
    margin-top: -34px;
    margin-left: -56px;
}
.contacts {
    width: 100%;
    color: #474747;
    line-height: 1;
    font-size: 10pt;
    font-weight: bold;
    text-align: right;
    font-family: 'TTFirs', sans-serif;
}
.flat-name {
    color: #333;
    line-height: 1;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    font-family: 'TTFirs', sans-serif;
}
.col {
    width: 15%;
    float: left;
}
.col-name {
    color: #333;
    line-height: 1;
    font-size: 10px;
    margin-bottom: 5px;
    font-family: 'Intro', 'Intro Regular', sans-serif;
}
.col-value {
    color: #0089CF;
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'TTFirs', sans-serif;
}
.col-value span {
    line-height: 1;
    font-size: 12px;
    color: rgba(51, 51, 51, .8);
    font-family: 'Intro', 'Intro Regular', sans-serif;
}
.two-cols__item {
    float: left;
    width: 325px;
}
.two-cols__item--separator {
    width: 30px;
}
.two-cols__item img {
    max-width: 100%;
}
.two-cols__item__value {
    color: #939393;
    line-height: 1;
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E5E5E5;
    font-family: 'Intro', 'Intro Regular', sans-serif;
}
.flat-image {
    max-height: 450px;
}
.plan, .plan__svg, .plan__svg svg {
    display: block;
}
.genplan {
    float: left;
    width: 180px;
}
.rose {
    width: 70px;
    float: right;
    margin-top: 60px;
}