mixin first-screen(image, title, desc, link, bottomText)
  .first-screen(style="background-image:url("+image+");")
    .first-screen__arc
      if title
        .first-screen__title!= title
      if desc
        .first-screen__desc!= desc
      if link
        a.first-screen__link(href=link) подробнее
          +svg('arrow-long')