mixin flat-mini(title, area, image, link, entrance)
  .flat-mini
    .flat-mini__top
      .flat-mini__image: img(alt src=cmsTpl + image)
      .flat-mini__title!= title
    .flat-mini__bottom
      .flat-mini__area!= area
      .flat-mini__view(data-area=link data-entrance=entrance) Смотреть